
@page "/about"


<center><h2 style="margin-top: 4%;">Iniciativa FoodWaste UCR</h2></center>

<center style="text-justify">

    <p style="margin-top: 2%; text-align: justify; text-justify: inter-word; font-size: 16px; margin-bottom: 4%">
        Actualmente, un tercio de la comida de consumo humano que se produce se desperdicia antes de que sea consumida. 
        Esto sucede principalmente por el “foodwaste”, término que se refiere al desperdicio de comida que no se consume 
        en sus periodos seguros. Buscar una solución para este problema es de suma importancia para una mejor calidad de vida. 
        FoodWaste UCR busca combatir esta problemática desde una perspectiva inclusiva, eficiente y moderna.
    </p>

    <hr/>

    <center><h3 style="margin-top: 4%;">Nuestra Misión</h3></center>

 
            <div style="margin-top: 2%; text-align: justify; text-justify: inter-word; font-size: 16px;">
                Nuestro principal objetivo es que de forma solidaria y comprometida podamos proporcionar alimentos y apoyar 
                a las poblaciones vulnerables que por alguna razón no puedan acceder a diferentes tipos de alimentos. De esta 
                forma se apoyan a las comunidades de Costa Rica mientras se combate el foodwaste.
            </div>

    <center><h3 style="margin-top: 4%;">Nuestra Visión</h3></center>

            <div style="margin-top: 2%; text-align: justify; text-justify: inter-word; font-size: 16px; margin-bottom: 4%">
                Como iniciativa moderna e inclusiva deseamos formar una comunidad en la que todos tengan acceso a suficientes 
                alimentos para mantenerse saludables, activos y que así puedan llevar a cabo sus actividades diarias de la mejor 
                manera.
            </div>

   <hr/>

     <h3 style="margin-top: 4%; margin-bottom: 3%;" >Equipos y desarrolladores:</h3>

    <ul>
        <h3>ALV</h3>

            <li>Jimena Gdur Vargas B93250</li>
            <li>Rodrigo Li Qiu B94263</li>
            <li>Daniela Murillo Murillo B95481</li>
            <li>Milen Rodriguez Man B96674</li>
            <li>Jorim Wilson Ellis B98615</li>
    
            <hr/>

        <h3>Core_Dumpers</h3>

            <li>Nathan Miranda Rojas B94891</li>
            <li>Álvaro Miranda Villegas B84964</li>
            <li>Mariana Murillo Quintana B95487</li>
            <li>Emmanuel Zúñiga Chaves B98729</li>

             <hr/>

        <h3>Los_Imborrables</h3>

            <li>Andres Azofeifa Garcia B90837</li>
            <li>Fabian Gonzalez Rojas B83493</li>
            <li>Gilbert Marquez Aldana B94560</li>
            <li>Valery Maeva Murcia Melendez C05399</li>

             <hr/>

        <h3>Les_Macacos</h3>

            <li>Aaron Campos Ramirez B91554</li>
            <li>Sirlany Mora Garcia B95144</li>
            <li>Josher Ramirez Montoya B96368</li>
            <li>Estefany Ramirez Murillo B86429</li>
            <li>David Rojas Obando B96873</li>

    </ul>
</center>