@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<!-- Page footer using MudBlazor components and CSS 
    TODO: Make footer static instead of sticky
-->
<div>
    <MudPaper Class="d-flex align-content-center flex-wrap flex-grow-1 gap-4" Elevation="0" Style=" background-color: #323232; position: fixed; left: 0; bottom: 0; width: 100%;">
        <MudImage Src="../images/ucr_logo.png" Alt="ucr_logo" Fluid="true" />
        <MudText Typo="Typo.body1" Style="color:white; padding-top:35px; padding-left:150px ;justify-content: center; text-align: center;"> Escuela de Ciencias de la Computación e Informática 2022 - Tel. 2511-8000.</MudText>
        <MudSpacer />
    </MudPaper>
</div>