
<div>
    <span class="status-label" style="background-color: @_backgroundColor;">
         <MudTooltip Text="@_description"
            Arrow="true" Placement="Placement.Top">
            @_status
         </MudTooltip>
    </span>
</div>

@code {
    [Parameter]
    public string _status { get; set; } = "";

    private string _backgroundColor = "";
    private string _description = "";

    protected override void OnParametersSet()
    {
        SetColorsAndText();
    }

    private void SetColorsAndText()
    {
        if (_status == "A") {
            _status = "Fresca";
            _backgroundColor = "#5E35B1";
            _description = "Recién creada, sus productos están disponibles para ser solicitados.";
        } else if (_status == "P")  {
            _status = "En proceso";
            _backgroundColor = "#1565C0"; 
            _description = "Alguien ha solicitado uno o más productos de esta donación.";
        } else if (_status == "B") {
            _status = "Donada parcialmente";
            _backgroundColor = "#FF8F00";
            _description = "Una parte de los productos de esta donación han sido donados exitosamente.";
        } else if (_status == "D") {
            _status = "Donada";
            _backgroundColor = "#33691E";
            _description = "Todos los productos de esta donación han sido donados exitosamente.";
        } else {
            _status = "Vencida";
            _backgroundColor = "#37474F";
            _description = "Los productos de esta donación han vencido y ya no están disponibles para ser donados.";
        }
    }
}
